<!DOCTYPE html>
<html>
<body>

<style>
.container {
  height: 200px;
  position: relative;
  border: 0px solid green;
}
.container2 {
  height: 50px;
  position: relative;
  border: 0px solid green;
}
button {
  width: 100px;
  height: 40px;
  margin: 10px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="container">
  <div class="center">
  	<h1>Halo</h1>
  	<p>Selamat datang di website Asriani Alim</p>
  </div>
</div>

<div class="container2">
  <div class="center">
  	<a href="/home"><button>Home</button></a>
  	<a href="/kontak"><button>Kontak</button></a>
    <a href="/profil"><button>Profil</button></a>
  </div>
</div>

</body>
</html>
